@import (reference) "../../@ui/index.less";

.co-calendar-main {
    .std-popup-main(650px);

    h1 {
        ._calendar {
            cursor: pointer;
            margin-left: .8em;
        }
    }

    position: relative;
    ._users {
        position: absolute;
        right: 50px;
        bottom: 24px;

        ._user {
            box-shadow: 2px 2px 0px rgba(0, 0, 0, .3);
            transition: all .3s;
            
            margin-left: 12px;
            cursor: pointer;
            display: inline-block;
            border-radius: 100px;

            
            width: 32px;
            height: 32px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 100px;
            }

            &:hover {
                box-shadow: 4px 3px 0px rgba(0, 0, 0, .3);
            }
        }
    }
    .editor-info {
        padding-top: 12px;
    }

    .co-calendar-inner {
        .day-list-main {
            margin-bottom: 8px;
            user-select: none;
            position: relative;

            // &::after {
            //     content: "";
            //     position: absolute;
            //     bottom: -10px;
            //     left: 50%;
            //     width: 20px;
            //     border: 1px solid #DDD;
            //     transform: translateX(-50%);
            // }

            ._top {
                text-align: center;
                font-size: 20px;
            }

            ._to-r { right: 0; }
            ._to-l { left: 0; }

            ._to-l, ._to-r {
                top: 0;
                width: 1em;
                height: 100%;
                display: flex;
                cursor: pointer;
                font-size: 32px;
                position: absolute;
                align-items: center;
                justify-content: center;
            }

            .day-list {
                padding-top: 8px;
                overflow-x: hidden;
                position: relative;
                width: 560px;
                height: 80px;
                margin: 0 auto;
                font-size: 0;
                text-align: center;
                white-space: nowrap;
                
                > div {
                    box-sizing: border-box;
                    width: 5em;
                    position: absolute;
                    font-size: 16px;
                    display: inline-block;
                    transform: translateX(-50%);
                    transition: all .3s;

                    &.has-record {
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 100%;
                            left: 50%;

                            width: 4px;
                            height: 4px;
                            border: 1px solid #A65;
                            border-radius: 100px;

                            transform: translateX(-50%);
                        }
                    }
                }

                .one-day {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    width: 5em;
                    height: 5em;

                    > div {
                        text-align: center;
                        ._month {
                            font-size: 50%;
                            color: #AAA;
                        }
                        ._date {
                            font-size: 200%;
                        }
                        ._work {
                            font-size: 50%;
                            color: #AAA;
                        }
                    }
                }
            }
        }
    }


    .please-chooose {
        display: flex;
        height: 270px;
        // padding-bottom: @EDITOR-HEIGHT;
        text-align: center;
        color: #AAA;

        justify-content: center;
        align-items: center;

        ._icon {
            font-size: 200%;
        }
        
        ._text {
            margin-top: .5em;
            font-size: 80%;
        }

        ._add {
            cursor: pointer;
            background: #555;
            color: #DDD;
            padding: 2px 0;
            border-radius: 4px;
        }
    }

    #calendar-quill {
        min-height: 200px;
    }
}
