@import (reference) "../../@ui/index.less";


.msg-popup-main {
    .std-popup-main(400px);

    max-height: 500px;
    overflow-y: auto;

    ._close {
        position: absolute;
        right: 50px;
        top: 24px;
        font-size: 24px;
        height: 24px;
        cursor: pointer;
    }

    .swicher-keys {
        @gap: 9px;

        border-bottom: 1px solid #CCC;
        padding-bottom: @gap;
        margin-bottom: @gap;

        .switcher-item {
            display: inline-block;
            margin-right: @gap;
            cursor: pointer;

            opacity: .5;

            &.active {
                font-weight: bold;
                opacity: 1;
            }
        }
    }

    .switcher-now {
        min-height: 400px;
    }

    .no-info {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #CCC;
    }

    .notifications {
        margin-top: 14px;
        .one-notification {
            @PADDING: 12px;
            border-radius: 6px;
            padding: 12px;
            cursor: pointer;
            position: relative;

            // white-space: nowrap;

            > * {
                display: inline-block;
                vertical-align: middle;
            }

            ._icon {
                width: 1em;
                height: 1em;
                font-size: 24px;

                padding: 12px;
                background: #555;
                color: #EEE;
                border-radius: 4px;

                svg {
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                
            }
            
            ._text {
                margin-left: 1em;
                width: 60%;
                ._noti {
                    color: #AAA;
                }

                ._noti-text {
                    // white-space: nowrap;
                    word-wrap: break-word; word-break: normal;
                }
            }

            ._to-right {
                position: absolute;
                right: @PADDING;
                top: 50%;
                font-size: 24px;
                color: #AAA;
                transform: translateY(-50%);
            }

            ._req-btns {
                margin-top: 16px;
                display: block;

                button {
                    border-radius: 3px;
                    opacity: .9;
                    cursor: pointer;
                    border: none;
                    padding: 4px 18px;
                    margin-right: 16px;

                    &:hover { opacity: 1; }
                    &:focus { outline: none; }
                    &:active { transform: scale(.9); }
                }

                .to-resolve {
                    background: #555;
                    color: #FFF;
                }

                .to-reject {
                    background: #DDD;
                    color: #222;

                    &:hover {
                        color: #F55;
                    }
                }

                .to-delete {
                    margin-left: 16px;
                }

                &._finish {
                    color: #BBB;
                }
            }

            ._notification-btns {
                height: 0;
                opacity: .5;
                overflow: hidden;
                transition: all .3s;
                margin-top: 0px;
            }

            &:hover {
                ._notification-btns {
                    opacity: 1;
                    height: 25px;
                    margin-top: 16px;
                }
            }

            &.unread {
                ._noti {
                    position: relative;
                    &::after {
                        margin-left: 4px;
                        vertical-align: middle;
                        display: inline-block;
                        content: "";
                        width: 4px;
                        height: 4px;
                        border: 1px solid #A55;
                        border-radius: 4px;
                    }

                    &::before {
                        content: "这是一条未读消息，点击设为已读";
                        position: absolute;
                        font-size: 10px;
                        opacity: 0;
                        bottom: 50%;
                        transition: all .3s;
                    }
                }
            }

            &.unread:hover {
                ._noti {
                    &::before {
                        opacity: 1;
                        bottom: 100%;
                    }
                }                
            }

            &:hover {
                background: rgb(244, 244, 244);
            }
        }
    }
}

