.all-screen-main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 64px;
    background: #FFF;
    position: static;

    h1 {
        padding: 0 32px;
        padding-top: 32px;
        text-align: center;
    }

    ._close {
        cursor: pointer;
        position: fixed;
        right: -8px;
        transform: translateX(100%);
        top: 0;
        font-size: 32px;
    }

    #all-screen-edit {
        padding: 0 32px;
        width: 600px;
    }
}