.doc-page {
    position: relative;
    padding: 32px;
    height: 100%;
    box-sizing: border-box;
    background: #F4F4F4;

    .swicher-keys {
        @gap: 9px;

        border-bottom: 1px solid #CCC;
        padding: @gap;
        margin-bottom: @gap;

        .switcher-item {
            display: inline-block;
            margin-right: @gap;
            cursor: pointer;

            opacity: .5;

            &.active {
                font-weight: bold;
                opacity: 1;
            }
        }
    }
}

.doc-main {
    padding: 12px 16px;

    .doc-menu {
        left: 32px;
        position: absolute;
        bottom: 0;
        padding: 32px 0;

        .doc-menu-btn {
            cursor: pointer;
            width: 100px;                
            text-align: center;
            font-size: 14px;
            display: inline-block;
        }
    }


    .doc-file-wrap {
        display: inline-block;
        margin-right: 1em;
    }

    
}

