@import (reference) "./@ui/index";

.server-status {
    margin: 1em;

    > div {
        margin-bottom: 1em;
    }
}

.all-user-area {
    display: flex;
    > * {
        margin: 0 1em;
    }
}

body {
    color: #555;
    background: rgb(240, 240, 240);
    // overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

.font-icon {
    display: inline-block;
    svg {
        width: 100%;
        height: 100%;
    }
    // max-width: 2em;
    // max-height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
