@import (reference) "./@ui/index";

.server-status {
    margin: 1em;

    > div {
        margin-bottom: 1em;
    }
}

.all-user-area {
    display: flex;
    > * {
        margin: 0 1em;
    }
}

body {
    color: #555;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}
